<div class="row">
  <div class="col-sm-2" *ngFor="let photo of photos">
    <h4>{{photo.userName}}</h4>
    <img src="{{photo.url}}" alt="photo.userName" class="img-thumbnail p-1">

    <div class="text-center">
      <button class="btn btn-sm btn-success mr-1"
      (click)="approvePhoto(photo.id)">Schváliť</button>
      <button class="btn btn-sm btn-danger"
      (click)="rejectPhoto(photo.id)">Zamietnuť</button>
    </div>
  </div>
</div>